/* CSS HEX */
/*--bone: #d4c6abff;*/
/*--black-coral: #59636fff;*/
/*--upsdell-red: #aa3037ff;*/
/*--black: #000000ff;*/
/*--dark-turquoise: #00dae0ff;*/


.root {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #59636fff, #000000ff);
}


.button {
    -fx-font: bold italic 10pt "Arial";
    -fx-background-color: #aa3037ff;
    -fx-text-fill: black;
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}

.grid {
    -fx-background-color: #d4c6abff;
}

.grid-cell {
    -fx-border-color: black;
    -fx-border-width: 0.5;
}

.grid-cell-insides {
    -fx-font: bolder 9.5pt "Arial";
    -fx-text-fill: black;
    -fx-effect: dropshadow( one-pass-box , black , 4 , 0.0 , 1 , 1 );
}